:root {
  --c-primary: #fff;
  --c-secondary: rgba(81, 201, 56, 1);
  --c-theme: rgba(86, 111, 255, 1);
  --c-theme-10: rgba(86, 111, 255, 0.1);
  --c-border-color: rgb(248, 248, 251);
  --c-gray: #e7e8f3;
  --c-dark-gray: #202327;
  --c-text-color: #000;

  --fade: 120ms;
}
